<!DOCTYPE html>
<html>
    <head>
        <title>Log out</title>
    </head>
    <body>
        <p>Are you sure you want to log out?</p>
        <form method="post">
            <input type="submit"/>
        </form>
    </body>
</html>