<!DOCTYPE html>
<html>
    <head>
        <title>View post</title>
        <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    </head>
    <body>
        <h1>{{post.title}}</h1>
        <div>{{post.postbody}}</div>
        <a href="/home">Take me home!</a>
    </body>
</html>