<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    </head>
    <body>
        <p>Welcome {{name}}</p>
    </body>
</html>